.wrapper {
    margin-right: 10px;
    max-width: 300px;
    padding: 20px;
    box-shadow: 0 1px 6px #111;
    border-radius: 10px;
    position: relative;
}

.wrapper ul {
    list-style: none;
}

.header {
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.header span {
    font-size: 15px;
    padding: 5px;
    margin-left: 2px;
    cursor: pointer;
    transition: 0.4s;
}

.header span:hover {
    box-shadow: 0 0 3px #1d6565;
}

.input {
    background-color: #1d6565;
    font-size: 10px;
    margin-right: 10px;
    border: 0;
    box-shadow: 0 1px 4px rgba(17, 17, 17, 0.66);
    height: 20px;
    font-family: 'Press Start 2P', cursive;
    padding: 3px;
}

.addForm {
    display: flex;
    position: relative;
    align-items: center;
}

.itemsList {
    padding: 0;
}

.reactSvg {
    color: #0deaea;
    width: 100%;
    margin-top: 20px;
    animation: startSvg infinite 3s;
}

@keyframes startSvg {
    0% {
        transform: rotate(0grad)
    }

    100% {
        transform: rotate(300grad)
    }
}

.btnWrapper {
    display: flex;
}

.closeSvg {
    color: rgba(252, 5, 83, 0.27);
    cursor: pointer;
    position: absolute;
    right: 20px;
    transition: .3s;
}

.closeSvg:hover {
    color: rgba(252, 5, 83, 0.6);
}



