.input {
    background-color: #1d6565;
    font-size: 10px;
    margin-right: 10px;
    border: 0;
    box-shadow: 0 1px 4px rgba(17, 17, 17, 0.66);
    height: 20px;
    font-family: 'Press Start 2P', cursive;
    padding: 3px;
    width: 100%;
}

.span {
    height: 100%;
    width: 100%;
    cursor: pointer;
    transition: .3s;
}

.span:hover {
    text-shadow: 0 1px 4px #ccc;
}
