/*******************Обложка приложения******************/

.app-wrapper {
  padding: 30px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

/*******************Обложка приложения******************/

.error {
  border: rgba(252, 5, 83, 0.45) 2px solid;
  background-color: rgba(252, 5, 83, 0.45);
  font-size: 10px;
  margin-right: 10px;
  box-shadow: 0 1px 4px rgba(17, 17, 17, 0.66);
  height: 20px;
  font-family: 'Press Start 2P', cursive;
  padding: 3px;
}

.error-message {
  color: rgba(252, 5, 83, 0.45);
  position: absolute;
  bottom: -15px;
  left: 30px;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
}

.addTodoList {
  cursor: pointer;
  transition: .3s;
}

.addTodoList:hover {
  color: #0deaea;
}

